<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.pleb.nadget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <receiver android:name="in.pleb.nadget.NotificationReceiver" />

        <activity
            android:name=".NadgetMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostView"
            android:label="@string/title_activity_post_view"
            android:parentActivityName=".NadgetMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetMain" />
        </activity>
        <activity
            android:name=".NadgetSettings"
            android:label="@string/title_activity_nadget_settings"
            android:parentActivityName=".NadgetMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetMain" />
        </activity>
        <activity android:name=".SavedFeeds"
            android:label="@string/title_activity_saved_feeds"
            android:parentActivityName=".NadgetMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetMain" />

        </activity>

        <activity
            android:name=".FeedSelector"
            android:label="@string/title_activity_feed_selector"
            android:parentActivityName=".NadgetMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetMain" />
        </activity>
        <activity
            android:name=".SuggestFeeds"
            android:label="@string/title_activity_suggest_feed"
            android:parentActivityName=".NadgetMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetMain" />
        </activity>
        <activity
            android:name=".AboutNadget"
            android:label="@string/title_about"
            android:parentActivityName=".NadgetSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetSettings" />
        </activity>
        <activity
            android:name=".OpenSrcLicenses"
            android:label="@string/title_activity_licenses"
            android:parentActivityName=".NadgetSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.pleb.nadget.NadgetSettings" />
        </activity>

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-gmxms24fwnzvnub" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>